
body {

background-color: black ;

}

h1 {

font-family: 'Gochi Hand';
font-size: 40px;
color: rgb(241, 241, 241);
text-align: end;

}

h2 {

font-family: 'Gochi Hand';
font-size: 40px;
color: rgb(241, 181, 253);
text-align: end;

}

h3 {

font-family: 'Gochi Hand';
font-size: 40px;
color: rgb(250, 250, 250);
text-align: end;
}